<%= form_with url: root_path, method: :get, local: true, html: { class: "row g-2 align-items-end" } do %>
<div class="col-md-3">
  <label class="form-label">Type</label>
  <select name="product_type" class="form-select">
    <option value="">All</option>
    <% @product_types.each do |pt| %>
    <option value="<%= pt.slug %>" <%= "selected" if params[:product_type] == pt.slug %>>
      <%= pt.name %>
    </option>
    <% end %>
  </select>
</div>

<div class="col-md-3">
  <label class="form-label">Start date</label>
  <input type="date" name="start_date" class="form-control" value="<%= params[:start_date].presence || Date.today%>">
</div>

<div class="col-md-3">
  <label class="form-label">End date</label>
  <input type="date" name="end_date" class="form-control" value="<%= params[:end_date].presence %>">
</div>

<div class="col-md-3">
  <button type="submit" class="btn btn-primary w-100">Search</button>
</div>
<% end %>