<div class="row">
  <div class="col-md-4 offset-md-4">
    <h3 class="mb-4 fw-bold text-primary text-center">Sign in to Torqly</h3>
    <%= form_with url: user_session_path do |form| %>
    <div class="form-outline mb-3" data-mdb-input-init>
      <%= form.email_field :email, class: "form-control", required: true, placeholder: "abc@example.com" %>
      <%= form.label :email, class: "form-label" %>
    </div>
    <div class="form-outline mb-3" data-mdb-input-init>
      <%= form.password_field :password, class: "form-control", required: true, placeholder: "Password" %>
      <%= form.label :password, class: "form-label" %>
    </div>
    <div class="mb-3 text-end">
      <%= link_to "Forgot password?", forgot_password_path%>
    </div>
    <div class="text-center">
      <%= form.submit "Log in", class: "btn btn-primary" %>
    </div>
    <% end %>
    <div class="text-center mt-3">
      <span class="px-1">Don't have an account?</span><%= link_to "Sign up", signup_path%>
    </div>
  </div>
</div>