<div class="row">
  <div class="col-md-4 offset-md-4">
    <h3 class="mb-4 fw-bold text-primary text-center">Edit profile</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-outline mb-3" data-mdb-input-init>
      <%= f.text_field :name, class: "form-control", required: true %>
      <%= f.label :name, class: "form-label" %>
    </div>
    <div class="form-outline mb-3" data-mdb-input-init>
      <%= f.email_field :email, class: "form-control", disabled: true %>
      <%= f.label :email, class: "form-label" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="form-outline mb-4" data-mdb-input-init>
      <%= f.password_field :password, class: "form-control", placeholder: "Leave blank to keep current password" %>
      <%= f.label :password, class: "form-label" %>
      <div class="form-helper px-1">
        <% if @minimum_password_length %>
        <%= @minimum_password_length %> characters minimum
        <% end %>
      </div>
    </div>
    <div class="form-outline mb-3" data-mdb-input-init>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Leave blank to keep current password"%>
      <%= f.label :password_confirmation, class: "form-label" %>
    </div>
    <div class="form-outline mb-5" data-mdb-input-init>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      <%= f.label :current_password, class: "form-label" %>
      <div class="form-helper px-1">We need your current password to confirm your changes</div>
    </div>

    <div class="d-flex flex-column text-center gap-2">
      <%= f.submit "Update profile", class: "btn btn-primary" %>
      <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger"  %>
    </div>
    <% end %>
  </div>
</div>