<div class="d-flex flex-column align-items-end">
  <p><strong>Product:</strong> <%= booking.product.title %></p>
  <p><strong>From:</strong> <%= booking.start_date.to_s %></p>
  <p><strong>To:</strong> <%= booking.end_date.to_s %></p>
  <p><strong>Price per day:</strong> <%= render "shared/currency", amount: booking.booked_price %></p>
  <p><strong>Days:</strong> <%= booking.num_days %></p>
  <hr class="hr hr-blurry w-100 bg-secondary" />
  <p><strong>Total Amount:</strong><%= render "shared/currency", amount: booking.booked_price * booking.num_days %></p>
</div>