<div class="row">
  <div class="col col-md-8 offset-md-2">
    <div class="d-flex justify-content-between mb-3">
      <h2 class="fw-bold text-primary text-start">Booking details</h2>
      <div class="text-end">
        <%= link_to "Back", @back_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
  <div class="col col-md-4 offset-md-2">
    <div class="card rounded-2 shadow-3-strong border border-secondary">
      <%= render "products/info/image", product: @booking.product %>

      <div class="card-body d-flex flex-column">
        <%= render "products/info/view", product: @booking.product %>
      </div>
    </div>
  </div>
  <div class="col col-md-4">
    <%= render "booking", booking: @booking %>
    <%= form_with model: @booking, url: create_booking_path, local: true do |f|  %>
    <%= render "shared/form_errors", object: f.object %>
    <div class="mb-3">
      <%= f.label :license_number, "License number", class: "form-label" %>
      <%= f.text_field :license_number, class: "form-control", required: true %>
    </div>

    <%= f.submit "Confirm & Pay", class: "btn btn-primary w-100" %>
    <% end %>
  </div>
</div>