<div class="row">
  <div class="col-md-4 offset-md-4">
    <h3 class="mb-4 fw-bold text-primary text-center">Create your account</h3>
    <%= form_with model: @user, url: signup_path do |form| %>
    <%= render "shared/form_errors", object: form.object %>

    <div class="form-outline mb-3" data-mdb-input-init>
      <%= form.text_field :name, class: "form-control", required: true, placeholder: "Your name" %>
      <%= form.label :name, class: "form-label" %>
    </div>
    <div class="form-outline mb-3" data-mdb-input-init>
      <%= form.email_field :email, class: "form-control", required: true, placeholder: "abc@example.com" %>
      <%= form.label :email, class: "form-label" %>
    </div>
    <div class="form-outline mb-3" data-mdb-input-init>
      <%= form.password_field :password, class: "form-control", required: true, placeholder: "Password" %>
      <%= form.label :password, class: "form-label" %>
    </div>
    <div class="form-outline mb-3" data-mdb-input-init>
      <%= form.password_field :password_confirmation, class: "form-control", required: true, placeholder: "Confirm your password" %>
      <%= form.label :password_confirmation, class: "form-label" %>
    </div>
    <div class="text-center">
      <%= form.submit "Sign Up", class: "btn btn-primary" %>
    </div>
    <div class="text-center mt-3">
      <span>Already have an account? </span><%= link_to "Log in", new_user_session_path %>
    </div>
    <% end %>
  </div>
</div>