<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <%
=begin%>
        <img src="assets/images/torqly_logo.png" height="15" alt="Torqly Logo" loading="lazy" />
        <%
=end%>
        <%= image_tag "torqly_logo.png", alt: "Torqly Logo", class: "rounded", height: 40 %>
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <% if is_admin? %>
        <li class="nav-item">
          <%= link_to "Products", products_path, class: "nav-link" %>
        </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">

      <!-- Avatar -->
      <% if !is_logged_in? %>
      <% if !current_page?(login_path) && !current_page?(signup_path) %>
      <%= link_to "Log in", login_path, class: "btn btn-secondary me-3" %>
      <%= link_to "Sign Up", signup_path, class: "btn btn-primary me-3" %>
      <% end %>
      <% else %>
      <span class="me-3">Hello, <%= Current.user.name %></span>
      <!-- Icon -->
      <%
=begin%>
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>
      <%
=end%>

      <!-- Notifications -->
      <%
=begin%>
      <div class="dropdown">
        <a data-mdb-dropdown-init class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" aria-expanded="false">
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#">Some news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </div>
      <%
=end%>
      <div class="dropdown">
        <a data-mdb-dropdown-init class="nav-link dropdown-toggle" href="#" id="navbarProfileMenu" role="button" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarProfileMenu">
          <li>
            <%= link_to "My profile", view_profile_path(Current.user), class: "dropdown-item" %>
          </li>
          <li>
            <%= link_to "My bookings", list_bookings_path, class: "dropdown-item"  %>
          </li>
          <li>
            <%= link_to "Log out", logout_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?" }, class: "dropdown-item" %>
          </li>
        </ul>
      </div>
    </div>
    <% end %>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->