<h5 class="mb-3">Product Image</h5>
<div class="mb-3" data-mdb-input-init>
  <%= f.file_field :image, direct_upload: true, class: "form-control", placeholder: "Choose an image" %>
</div>
<h5 class="mb-3">Type</h5>
<div data-controller="vehicle-type">
  <div class="btn-group mb-3 <%= 'disabled shadow-0' if disabled %>" role="group" aria-label="Product Type">
    <% @product_types.each do |pt| %>
    <% rid = "product_type_#{pt.slug.parameterize}" %>
    <%= f.radio_button :product_type_id, pt.id,
          id: rid,
          class: "btn-check",
          data: { slug: pt.slug, "vehicle-type-target": "radio", action: "change->vehicle-type#update" },
          # checked: (f.object.product_type_id) == pt.id,
          disabled: disabled %>
    <label class="btn btn-secondary" for="<%= rid %>" data-mdb-ripple-init><%= pt.name %></label>
    <% end %>
  </div>

  <%= f.fields_for :description do |desc| %>
  <div data-vehicle-type-target="specs" data-type="car" class="mt-3 d-none">
    <%= render "products/car_specs/new", f: desc %>
  </div>
  <div data-vehicle-type-target="specs" data-type="motorcycle" class="mt-3 d-none">
    <%= render "products/motorcycle_specs/new", f: desc %>
  </div>
  <div data-vehicle-type-target="specs" data-type="scooter" class="mt-3 d-none">
    <%= render "products/scooter_specs/new", f: desc %>
  </div>
  <% end %>
</div>
<div class="form-check my-3">
  <%= f.check_box :enabled, class: "form-check-input" %>
  <%= f.label :enabled, "Enabled", class: "form-check-label" %>
</div>